body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: white;
    margin: 0;
    padding: 0;
    background-image: url('/static/images/space_bg.jpg');
    background-size: cover;
}

.app-container {
    text-align: center;
    display: flex;
    flex-direction: column;
}

nav {
    padding: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.95);
    position: relative;
}

/* Header */
.app-header h1 {
    color: white;
    margin: 0;
    font-size: 2em;
    font-weight: bold;
}

.search {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
}

.search-bar {
    padding: 12px 20px;
    width: 80%;
    max-width: 600px;
    font-size: 1.2em;
    border: 2px solid #080600f1;
    border-radius: 25px; /* Rounded corners */
    outline: none;
    transition: all 0.3s ease;
    background-color: #333;
    color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}

/* Search Bar Focus Effect */
.search-bar:focus {
    border-color: #100800; /* Orange color */
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3); /* Stronger shadow when focused */
}

/* Error Message Styles */
#error {
    color: #e74c3c; /* Red color for errors */
    margin-top: 10px;
    font-size: 1.1em;
}

/* Exoplanet List Styles */
.exoplanet-list {
    list-style-type: none; /* Remove bullet points */
    padding: 0;
    margin-top: 15px;
    width: 80%;
    max-width: 600px;
    max-height: 300px; /* Set the max height as needed */
    overflow-y: auto; /* Enable vertical scrolling */
    background-color: #ffffff1a;
}

/* Individual List Items */
.exoplanet-list li {
    border-bottom: 1px solid #fff3;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    transition: background-color .3s ease;
}

/* Hover Effect for List Items */
.exoplanet-list li:hover {
    background-color: #555;
}

/* Main Content Area */
.main-content {
    flex: 1; /* Ensures the main content takes up available space */
    min-height: 100vh; /* Make sure it takes full viewport height */
}

/* Footer */
.app-footer {
    margin-top: 50px;
    color: #ccc;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.9);
}

/* Footer Links */
.app-footer a {
    color: white;
    text-decoration: underline;
}
